.notif {
 width: 280px;
 margin: 0 auto 25px auto;
 padding: 30px 20px;
 text-align: left;
 position: absolute;
  bottom: 0;
  right: 3%;
 border-radius: 12px;
 opacity: 100;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0); 
 cursor: default;
}
 
.notif p {
 text-align: left;
 font-weight: bold;
 font-size: 16px;
 margin: 0;
}
 
.notif p:before {
 text-align: center;
 border: 3px solid rgba(255, 255, 255, 1);
 margin-top: -18px;
 top: 50%;
 right: 25px;
 width: 30px;
 content: '!';
 font-size: 30px;
 color: rgba(255, 255, 255, 1);
 position: absolute;
 height: 30px;
 line-height: 30px;
 border-radius: 50%;
}
 
.notif-progress {
 width: 0;
 height: 10px;
 background: rgba(255,255,255,0.5);
 position: absolute;
 bottom: 5px;
 left: 3%;
 border-radius: 12px;
}

.notif-color-1 {
 background: #F89406;
}
 
.notif-color-1 p {
 color: #FFF;
}
 
.notif-color-2 {
 background: #59ABE3;
}
 
.notif-color-2 p {
 color: #FFF;
}
 
.notif-color-3 {
 background: #00B16A;
}
 
.notif-color-3 p {
  display: block;
  color: #FFF;
}
