!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title WebSoket
        = stylesheet_link_tag    'application', media: 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
        %script{:type => "text/javascript", :src  => "http://maps.googleapis.com/maps/api/js?sensor=false"}
  %body
    .page
      = yield
